<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     [@expand]="">

  <div fxFlex fxFlex.gt-sm="30%">
    <img class="image" src="{{BaseURL}}images/inside.png" alt="Inside">
  </div>

  <div fxFlex>
    <mat-card>
      <h3>Меню</h3>
      <p>Ароматное свежее тесто, покрытое нежным сыром, таящим во рту, украшенное пикантными колбасками и
        дольками
        сочных томатов, политое ароматным сливочным соусом, завоюет ваше сердце.
        Наши повара знают толк в искусстве выпечки настоящей пиццы. Каждое блюдо из нашего меню разработано с учетом
        всех тонкостей европейской кухни: сочетание отборных сыров, свежих помидоров, грибов, нежнейших соусов и
        свежего теста.
        Порадуйте себя и своих близких пиццей из Pizzeria.
        Переходите в меню нашего сайта, выбирайте и скорее заказывайте пиццу для настоящего наслаждения.
      </p>
      <h3>Сервис</h3>
      <p>Вы можете посетить нашу пиццерию по адресу: г. Минск, ул. К. Маркса, д. 32. При необходимости мы
        готовы быстро и своевременно доставить заказ прямо к Вам домой или в офис.
      </p>
      <h3>Доставка</h3>
      <p>Для того, чтобы Вы могли насладиться вкуснейшей пиццей в домашней обстановке или во время обеденного
        перерыва на работе, мы доставим заказ прямо к Вам. Минимальная сумма заказа для доставки составляет 15,00
        рублей.
        Время работы службы доставки: с 10:00 до 23:00. Заказы принимаются ежедневно с 10:00 до 22:00.
        Также доступен самовывоз: ул. К. Маркса, д. 32, с 10:00 до 23:00.
      </p>
    </mat-card>
  </div>

</div>
