<app-toolbar [title]="'Ваш заказ'"></app-toolbar>

<table mat-table [dataSource]="displayedPizzaList()" class="mat-elevation-z8">

  <ng-container matColumnDef="pizza">
    <th mat-header-cell *matHeaderCellDef>Пицца</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
    <td mat-footer-cell *matFooterCellDef><strong>Общая сумма:</strong></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Цена за 1 шт., руб.</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>Количество, шт.</th>
    <td mat-cell *matCellDef="let element">
      <a mat-button (click)="removePizza(element)"><span class="fa fa-minus fa-sm"></span></a>
      {{countPizzas(element)}}
      <a mat-button (click)="addPizza(element)"><span class="fa fa-plus fa-sm"></span></a>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef>Сумма, руб.</th>
    <td mat-cell *matCellDef="let element">{{calculatePizzaSum(element)}}</td>
    <td mat-footer-cell *matFooterCellDef><strong>{{totalSum}}</strong></td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="removeFromOrder(element)">&times;</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table>

<mat-card *ngIf="pizzaService.isUserSubmitted">
  <h3>Логин:</h3>
  <p>{{pizzaService.user.username}}</p>
  <h3>Телефон:</h3>
  <p>{{pizzaService.user.telNumber}}</p>
  <h3>Электронная почта:</h3>
  <p>{{pizzaService.user.email}}</p>
  <h3>Адрес доставки:</h3>
  <p>{{pizzaService.user.street}}, {{pizzaService.user.house}}-{{pizzaService.user.apartment}}</p>
</mat-card>

<mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button mat-button *ngIf="!pizzaService.isUserSubmitted" class="background-primary text-floral-white"
          (click)="openLoginForm()"
          [disabled]="totalSum == '0.00'">
    Оформить заказ
  </button>
  <button mat-button *ngIf="pizzaService.isUserSubmitted" class="background-primary text-floral-white"
          (click)="onSubmit()">
    Оформить
  </button>
</mat-dialog-actions>
