<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="firstPromotion" [routerLink]="['/pizza-detail', firstPromotion.id]" fxFlex>
    <mat-card-header>
      <mat-card-title>
        <h3>{{firstPromotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + firstPromotion.image}}" alt={{firstPromotion.name}}>
    <mat-card-content style="font-size: 120%">
      <p>{{firstPromotion.description}} всего за {{firstPromotion.price}} руб.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="secondPromotion" [routerLink]="['/pizza-detail', secondPromotion.id]" fxFlex>
    <mat-card-header>
      <mat-card-title>
        <h3>{{secondPromotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + secondPromotion.image}}" alt={{secondPromotion.name}}>
    <mat-card-content style="font-size: 120%">
      <p>{{secondPromotion.description}} всего за {{secondPromotion.price}} руб.
      </p>
    </mat-card-content>
  </mat-card>

</div>
